.growl {
	position: fixed;
	z-index: 201;
	top: 57px;
	right: 25px;

	width: 280px;

	pointer-events: none;

	.notice,
	.acf-error-message,
	#update-nag,
	.update-nag,
	div.message,
	div.updated,
	div.error {
		display: block;
	}
}

.notice,
.acf-error-message,
#update-nag,
.update-nag,
div.updated,
div.error {
	position: relative;

	margin: 0 0 10px 0;
	padding: 1px 15px !important;

	border-style: solid;
	border-top-width: 0;
	border-right-width: 30px;
	border-bottom-width: 0;
	border-left-width: 0;
	border-radius: 5px;

	color: $white;

	pointer-events: initial;

	a {
		color: $white;
	}

	p {
		margin: 10px 0;
		padding: 0;
	}

	&:not(.inline) {
		display: none;
	}
}