/*
 * Style the admin notice dismiss button.
 * And support the same styling for the Advanced custom fields dismiss button
 */
.notice-dismiss,
.acf-icon.-cancel {
	position: absolute;
	top: 5px;
	right: -30px;

	box-sizing: border-box;
	width: 20px;
	height: 20px;
	padding: 15px !important; // Important because ACF is pretty nasty.

	outline: none !important;
	background: transparent !important; // Important because ACF is pretty nasty.
	box-shadow: none !important; // Important because ACF is pretty nasty.

	&:before {
		content: '\f335'; // dashicons-no-alt
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;

		display: block;
		width: 20px;
		height: 20px;

		font: normal 16px/20px dashicons;
		-webkit-font-smoothing: antialiased;
		color: $white;

		text-align: center;

		transition: color .15s $curve-standard;
		transform: translate(-50%, -50%);

		speak: none;
	}

	&:hover:before,
	&:active:before,
	&:focus:before {
		color: $white !important; // Important because ACF is pretty nasty.
	}
}