/*
 * Style the admin notices in general
 * And support the same styling for the Advanced custom fields notices
 */
.notice,
.acf-error-message,
#update-nag,
.update-nag,
div.updated,
div.error {
	&:not(.inline) {
		position: relative;

		display: none;
		margin: 0 0 10px 0;
		padding: 11px 15px !important; // Important because ACF is pretty nasty.

		border-style: solid;
		border-top-width: 0;
		border-right-width: 30px;
		border-bottom-width: 0;
		border-left-width: 0;
		border-radius: 5px;

		color: $white;

		pointer-events: initial;

		a,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: $white;
		}

		p {
			margin: 10px 0;
			padding: 0;

			&:first-of-type {
				margin-top: 0;
			}

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}